.hamlet-detail
{
    align-content: center;
    padding: 10px;
    background-color: cadetblue;
    // text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    div{
        h3{
        padding: 5px;
        margin: 0px; 
        }
    }
}

